[2017-02-27 14:36] erizocosmico opened #1 "Can't commit after generating with bootstrap"
Hook prevents the first time your want to commit README.md after generating it with bootstrap.

[2017-03-02 07:22] dpordomingo opened #9 "Bootstraping a driver"
Some things that I found missing (it could be maybe a lack of documentation)

### Driver
Inside the driver, after running `bblfsh-sdk prepare-build`
- I think it should be autogenerated:
  - `native` directory if it does not exists,
  - `.gitignore` with a `.sdk` rule; if `.gitignore` exists without that rule, then append it.
- It should be great a hint in the root `Makefile` when running `make` i

[2017-03-02 11:18] dpordomingo commented on #1
@erizocosmico maybe @mcuadros can confirm it, but I fixed that problem just running `bblfsh-sdk bootstrap`, and then add to the staging area the just changed files.

What I realized that happened, is that you are trying to commit something without including in the commit the README.md that is *outdated* compared with your current bblfsh SDK.

[2017-03-02 11:25] erizocosmico commented on #1
Since this seems to not be an issue, closing for now. Will reopen if we come across this issue again.

[2017-03-02 11:25] #1 closed

[2017-03-03 06:16] dpordomingo opened #15 "It's possible to commit something, ignoring changes in managed files"
related to [#1 Can't commit after generating with bootstrap](https://github.com/bblfsh/sdk/issues/1)

### steps to reproduce the bug:
- upgrade the `RUNTIME_NATIVE_VERSION` in the `manifest.toml` -> `git add -A`
- `git commit -m "IT SHOULD FAIL"` -> it fails, because a _"managed file changed"_
- `bblfsh-sdk update` -> it will generate a new `README.md` with the new `manifest.toml` specs
- `git com

[2017-03-03 09:59] smola opened #19 "make fails on a uninitialized git repository or repo with no commit"
make fails on a uninitialized git repository or repo with no commit. It should initialize it or print a meaningful error.

[code]

[2017-03-27 12:34] juanjux opened #39 "Function arguments sorted in the wrong order"
Doing the integration tests for the Python driver I noticed that the function arguments list, whose items has the internalRole "args" and Role MethodInvocationArguments (childrens of a MethodInvocation) are not sorting in the right order.

For this code:

[code]
I will attach the complete jsons for the Python AST and the generated UAST to this issue

[unsorted_args_jsons.zip](https://github.com/bb

[2017-03-27 13:39] smola commented on #39
@juanjux We sort children by its offset in the file, but it seems that the Python driver does not provide offsets for literals or function arguments? If the AST parser does not preserve offsets (or line/col) we can make BaseToNoder preserve order as it is found in the incoming JSON.

[2017-03-27 14:36] juanjux commented on #39
It was a problem with the Python AST not adding the positional properties, once that was fixed the order is right.

[2017-03-27 14:36] #39 closed

[2017-03-27 15:56] juanjux commented on #39
@smola it does provide line and col but I do a little massaging of the output of literal strings and the bug was there. But keeping the order of json list elements would be desirable.

[2017-03-29 13:08] juanjux opened #52 "uast: define nonlocal access *usage* modifiers"
These are modifiers that in general give an enclosed scope access to a variable in an outside scope. This could mean read/write or just read access.

This concept is similar to the existing "VisibleFrom" rules already on the AST but at the point of usage instead of declaration.

For example in Python we have "global" to allow an enclosed scope (usually a function definition) to modify a globally d

[2017-03-29 13:28] juanjux opened #53 "uast: define async/await"
Some languages (Jotlin, Python, Nim, etc) use async to qualify blocks (which are not always functions, sometimes they can be scoped blocks) that could run as interruptible coroutines. Usually those languages also have an await keyword for waiting for the completion of those blocks (similar to the join call/keyword for threads).

For functions this is usually done on the definition, with Go and Erl

[2017-03-31 09:08] smola opened #61 "uast: merge roles for Assignment and AugmentedAssignment"
Currently, we have:

[code]

This feels quite redundant. I wonder if we can come up with a more succint way of annotating augmented assignments.

[2017-03-31 12:47] juanjux commented on #61
I will do a PR to remove AugmentedAssignmentVariable and AugmentedAssignmentValue since we can just use the Assignment* ones which have the same meanings. I'm not so sure about removing the AugmentedAssignment and AugmentedOperatorRoot; the first one have a first level representation on the languages I checked.

[2017-04-06 08:24] juanjux opened #76 "Some children are randomly sorted on the pretty print"
*(I'll take a look at this, adding the issue to add a note on the sprint task for prefix/infix/postfix that depends on this being fixed).*

How to reproduce:

- On a driver with integration tests (for example Python or Java), delete tests/*.uast and tests/*.native.
- `make integration-test` so these files are regenerated again.
- `git commit` adding the new files.
- Repeat the steps (delete, regen

[2017-04-06 09:41] smola commented on #76
Pretty printing does not alter children order, so it must be a problem in BaseToNoder not being deterministic for some case.

[2017-04-06 12:38] alcortesm opened #80 "bblfsh-sdk pre-commit hook imcompatible with git < 2.7"
The pre-commit hook installed by bblfsh-sdk has a compatibility issue with git < 2.7 because that's when the "--points-at" option to `git branch` was introduced (https://github.com/git/git/commit/aa3bc55e408d4daab52239d6b80f7d4bb87f6de7).

Is there a way to do something similar using older options?

[2017-04-18 13:25] bzz opened #84 "Running container fails on GOPATH \w multiple dirs entries"
Default GOPATH on GCE cloud console is `"/home/alex/gopath:/google/gopath"`

But running a build docker container for any driver fails on [mounting such GOPATH](https://github.com/bblfsh/sdk/blob/master/etc/build/make/rules.mk#L43)

[code]

[2017-04-27 10:34] alcortesm opened #92 "The native version badge in the README.md mentions the driver name, instead of the native language"
For instance, in case of the bash-driver, whose native driver is writen in Java, the batch should say `java version: 1.8....` but instead it says `bash version: 1.8....`.

[2017-05-03 13:20] alcortesm opened #94 "Rule.Error should receive an error, not a string"
That will make tests easier and errors much more informative.

[2017-05-05 09:33] smola commented on #94
@alcortesm Definitely, feel free to make a PR.

[2017-05-05 10:54] #94 closed

[2017-05-09 12:59] smola opened #100 "generate up-to-date .proto files and gRPC service"
We have to provide up-to-data proto files and gRPC service, which will be implemented by the bblfsh server.

[2017-05-29 15:29] smola commented on #100
fixed with https://github.com/bblfsh/sdk/pull/107

[2017-05-29 15:29] #100 closed

[2017-06-01 10:13] abeaumont opened #119 "Improve driver bootstrapping"
The initial code block described at [babelfish documentation](https://doc.bblf.sh/driver/sdk.html#creating-a-driver-for-a-new-language) (creating a directory, a new git repo, etc.) could be done by `bblfsh-sdk init` command

[2017-06-08 14:45] smola commented on #119
Now merged.

[2017-06-08 14:45] #119 closed

[2017-06-13 16:28] smola opened #126 "Roles numeric values do not match in Go and Proto"
Roles numeric values do not match in Go and Proto. It seems they start at index 1 in Go and they start at index 0 in Proto.

It *might* be caused by a proteus issue: https://github.com/src-d/proteus/issues/86
(or it might not)

Once we fix this, we need to build new versions of published drivers.

[2017-06-15 13:07] smola opened #128 "Build info on driver binaries is empty"
[code]

[2017-06-15 13:11] smola commented on #126
There's a workaround for the proteus stuff: https://github.com/src-d/proteus/issues/86#issuecomment-308339286

[2017-06-15 13:49] smola opened #129 "README: add development section"
Add development section to README, explaining which files are generated, when to update them, etc.

[2017-06-16 12:33] abeaumont opened #130 "Make JSON decoder buffer size dynamic"
A better solution for this kind of problems: https://github.com/bblfsh/sdk/pull/127

[2017-06-27 13:04] abeaumont opened #132 "annotations don't handle mutliple roles properly"
When an annotation adds more than one role, only the first one is extracted in the annotation documentation. For example, the following annotations:

[code]

generates the following annotation documentation:

[code]

while it should generate:

[code]

[2017-06-28 06:04] #132 closed

[2017-06-28 10:01] bzz commented on #84
This also breaks the driver builds i.e in case of python

[code]

[2017-06-28 10:20] abeaumont commented on #84
According to https://github.com/golang/go/wiki/GOPATH, it may effectively be a list of paths even if usually not needed, so marking this as a bug.

[2017-06-28 10:25] abeaumont commented on #84
The obvious solution is to parse GOPATH and just extract one of the paths in case there's more than one. The question is which one to extract, since it seems rather arbitrary. Maybe we should just use the first one and document it.

Any better ideas?

[2017-06-28 12:15] juanjux commented on #84
@bzz does it work in that environment if you use a single GOPATH?

[2017-06-28 15:34] juanjux commented on #76
Mmmm, this was closed and in fact if this didn't work integration tests wouldn't pass, click slip? Preventively closing it again.

[2017-06-28 15:34] #76 closed

[2017-07-01 00:03] juanjux commented on #130
Fixed by PR #135 when merged.

[2017-07-04 16:19] abeaumont commented on #129
Solved by #134

[2017-07-04 16:19] #129 closed

[2017-07-05 13:09] bzz commented on #130
Wow! So awesome, did not realize #135 is merged - going to test now.

[2017-07-05 15:50] juanjux opened #137 "Use Glide for the drivers to lock to specific SDK versions"
Currently the drivers always link against ~master. We should add glide to the skeleton files and use it in the Go part of the driver build system.

[2017-07-05 17:48] bzz commented on #130
I have tested the the latest `bblfsh server` \w #135 merged and I still get `buffer size exceeded` sometimes :/ not sure if that is related to buffer size.

Here is the file it happened on https://github.com/bit-man/bit-tools/blob/master/GenUnitTests-ECI2012/src/test/java/ej2/conInvariante/RandoopTestConInvariante1.java

I would be happy to just skip such files, **but** after this error - server h

[2017-07-05 18:52] juanjux commented on #130
Very odd since that message is not in the server anymore, I'll try with the docker image.

[2017-07-05 19:29] juanjux commented on #130
I can't reproduce it. Steps I took (using the workaround posted on Slack for the problem with the current server and env variables):

[code]

I tried again with several consecutive requests just in case it was hanging at the second request like in server bug #36 but it works perfectly.

[2017-07-06 11:06] bzz commented on #130
Ok, I was missing `--transport=docker-daemon` when running server, so I guess drivers were fetched from DockerHub instead of using latest build/taggeg :\

But this does not explain why `buffer size exceeded` show up, does it?

[2017-07-06 11:09] juanjux commented on #130
Actually, I should be using the version from Dockerhub to test it, let me test again without that.

[2017-07-06 11:16] juanjux commented on #130
I didn't use --transport=docker-daemon. I just tried without the workaround (since @abeaumont fixed that and published the new image) and it worked again without problems:

[code]

[2017-07-06 12:32] juanjux commented on #130
Closing since the fix was merged.

[2017-07-06 12:32] #130 closed

[2017-07-06 12:33] bzz commented on #130
Ok, after more digging - the reason I was getting this is that if you do not use transport - by default all the runtime, that includes driver containers, is cached under `./tmp` and is never updated.

I'm removing it manually and it should work now

[2017-07-06 12:35] juanjux commented on #130
Oooooh yes, I totally forgot about that, I also lost many hours with that the other day with that cache...

[2017-07-10 13:20] #84 closed

[2017-07-11 16:05] vmarkovtsev commented on #126
Anyone? Although there is definitely a working workaround, this one is very nasty.

[2017-07-11 16:07] juanjux commented on #126
@vmarkovtsev just merged this:

https://github.com/bblfsh/sdk/pull/139

[2017-07-12 08:19] abeaumont commented on #126
As noted in #139, autogenererated file update is pending.
I still cannot assign to @mcarmonaa, so I'll do the PR with the autogenerated files myself.

[2017-07-12 09:16] abeaumont commented on #126
Solved with #142. This should be fixed now and drivers should be updated.

[2017-07-12 09:25] mcarmonaa opened #143 "Add a rule to Makefile to install binaries"
Currently, the way to get installed the sdk's binaries in $GOPATH/bin is running

[code]

[2017-07-12 11:25] mcarmonaa commented on #143
https://github.com/bblfsh/sdk/pull/144

[2017-07-12 14:53] #126 closed

[2017-07-13 09:23] vmarkovtsev opened #150 "Implement the custom parser for Jupyter notebooks"
This is to record the demand of data scientists to have *.ipynb parsed. There are quite a few already. I guess we should merge all the code cells and interpret them as a Python script.

@juanjux Do you think it should be added to Python driver? It is going to reuse 100% of the code.

[2017-07-13 09:30] juanjux commented on #150
Mmmm, let me take a look at the ipynb format (I've used iPython/Jupyter notebooks but never looked inside) and I'll tell you.

[2017-07-13 09:54] abeaumont commented on #150
Jupyter notebooks are not `python` specific. It may be better to have some generic code extractor from Jupyter notebooks and use regular drivers once code's been extracted. I don't think that code extractor should be in any existing driver and it'll have to be shared for different languages. The easiest way would be to have an intermediate additional step that takes a Jupyter notebook, extracts th

[2017-07-13 09:58] juanjux commented on #150
@abeaumont yes, that's my tough too, the driver should only receive a code string. Still, it could be added in the `client-python` as a feature. There is an API for reading and writing notebooks: http://nbformat.readthedocs.io/en/latest/api.html

[2017-07-13 10:54] vmarkovtsev commented on #150
@abeaumont Where would you place this generic extractor, inside the server? Looks like a hack to handle the notebooks, hehe. Probably we should create a "middleware" API layer which converts some files into other formats and name the new repo "jupyter-middleware".

[2017-07-13 11:12] juanjux commented on #150
@vmarkovtsev  surely not in the server. Maybe in the `client-python`.

[2017-07-13 13:40] abeaumont commented on #150
@vmarkovtsev exactly, it looks like a hack, that's why I don't like it. I'd also prefer to not have an additional layer too (even if it looks like the best idea to me), that's why I didn't give any solution (I don't have any at the moment).

An option would be to leave that resposibility to the client as @juanjux suggests, but I don't like it either, since you delegate language support to clients,

[2017-07-14 08:40] #143 closed

[2017-07-14 11:18] juanjux opened #152 "The driver-included file `.sdk/etc/run.sh` uses bash instead of sh"
This makes the driver Docker images need bash which they shouldn't need.

[2017-07-14 15:14] juanjux commented on #150
I don't see it as delegating language support to the client, but opening the same language in another format instead of a `.py` file which it already opens.

[2017-07-26 14:15] juanjux opened #153 "ObjectToNoder doesn't map the nodes endpos to the EndPosition member"
So they just show as properties.

https://github.com/bblfsh/sdk/blob/master/protocol/native/objecttonoder.go

[2017-07-26 15:27] juanjux commented on #153
Fixed by #154

[2017-07-26 20:19] #153 closed

[2017-08-02 08:32] abeaumont commented on #150
This is out of scope, so we are delegating the code extraction to bblfsh users at the moment.

[2017-08-02 08:32] #150 closed

[2017-08-02 08:37] abeaumont commented on #137
As talked in person, we prefer to use package versioning instead of using a package manager.

[2017-08-02 08:42] #53 closed

[2017-08-02 08:43] #52 closed

[2017-08-02 08:46] #15 closed

[2017-08-07 09:47] abeaumont opened #158 "Driver images are not tagged as latest when a tag is released"

[2017-08-08 10:20] juanjux commented on #158
Fixed by #159.

[2017-08-08 11:07] #158 closed

[2017-08-09 15:07] juanjux opened #160 "The SDK changes 0-columns and lines for 1 but checks empty files against 0 size"
So if you pass an empty file, the TransformationParser will give this error:

`column out of bounds: 1 [1, 0]`

This error is produced both using a 0 as column index or an 1.

[2017-08-17 10:05] abeaumont opened #163 "Reconsider the expected precision of positioning"
As @juanjux commented in slack:

[2017-08-29 07:46] juanjux commented on #9
`make test` works now (it must be in `GOPATH`), the first point remains.

[2017-08-29 07:50] juanjux commented on #19
This was fixed some time ago, it works now.

[2017-08-29 07:50] #19 closed

[2017-08-29 07:52] juanjux commented on #92
Mmmm, this is arguable, it's useful that the badge shows the language we're being parsing, if you want to know the implementation language you have the top bar on github that shows it.

[2017-08-30 12:45] abeaumont opened #167 "Use an agglutinative language for Roles"
This would make the Roles language more expressive and flexible, remove complexity, make it more extensive and better suited for language analysis.

There are various tasks that need to be done for this:

- [x] Create a BIP describing the proposal: https://github.com/bblfsh/documentation/pull/82
- [x] Add versioning support for SDK
- [x] Modify the SDK roles #171
- [x] Update python driver to supp

[2017-08-30 14:03] juanjux commented on #61
This is outdated because of #167.

[2017-08-30 14:03] #61 closed

[2017-09-01 07:17] juanjux commented on #163
Closing since we already made some decisions in the planning meeting and they're implemented.

[2017-09-01 07:17] #163 closed

[2017-09-12 16:15] juanjux opened #170 "More specific Parser.Tokenkeys or token-extracting annotations"
Currently all the fields added to `Parser.Tokenkeys` are evaluated for token extraction for all the nodes. This has the problem that some nodes could have both of the fields, being only one of them the `token` field, but producing an error.

Two solutions could be used:

1) Change the data structure to optionally allow to specify an "internal_type" where the token extraction will be done for every

[2017-09-15 13:06] juanjux opened #174 "Remove duplicated roles in the nodes"
With the new agglutinative UAST it'll be hard to avoid some duplicated roles. They shouldn't have any effect, but they are un-classy and annoy some users.

It should be pretty easy to "uniq" the roles of a node in the SDK.

[2017-09-21 17:16] abeaumont commented on #167
I think this can be closed now.

[2017-09-21 17:16] #167 closed

[2017-09-26 10:31] erizocosmico opened #182 "support nested keys in ObjectToNoder"
Take as an example the AST generated by babylon:

[code]

It'd be nice to be able to put as `LineKey` and so on `loc.start.line` instead of having to transform the AST.

[2017-09-28 14:36] abeaumont commented on #174
It would be nice to be able to detect duplicates too, which may be useful to debug annotations.

[2017-10-02 11:34] mcuadros commented on #182
This can be done with:
https://github.com/mcuadros/go-lookup

[2017-10-06 17:26] mcuadros commented on #128
Fixed at https://github.com/bblfsh/sdk/releases/tag/v1.0.3

[2017-10-06 17:26] #128 closed

[2017-10-06 17:27] #137 closed

[2017-10-18 14:40] #152 closed

[2017-10-25 08:20] juanjux opened #195 "Add a tool to bblfsh-tools to regenerate integration test fixtures"

[2017-10-25 13:16] #170 closed

[2017-10-26 13:48] #195 closed

[2017-11-02 09:28] #182 closed

[2017-11-03 11:44] #174 closed

[2017-11-07 14:06] dpordomingo opened #203 "Return the language when using "autodetect" feature"
When it is used "autodetect" feature, passing the `filename` and `content` in the request, it would be great to obtain the `language` as part of the response.

It could be something like:
[code]

instead of the current [ParseResponse](https://github.com/bblfsh/sdk/blob/master/protocol/generated.proto#L47):
[code]

[2017-11-07 14:09] juanjux commented on #203
Yes. Also for `NativeParseResponse`.

[2017-11-08 17:16] abeaumont opened #204 "Static compilation of sdk doesn't work"
[code]

This prevents drivers from building:

[code]

[2017-11-08 17:29] juanjux commented on #204
Does this work in your machine?

`CGO_ENABLED=0 go get gopkg.in/bblfsh/sdk.v1/...`

[2017-11-08 17:42] abeaumont commented on #204
No, that causes the same problem.

[2017-11-10 09:28] juanjux commented on #204
@abeaumont can you try this branch? https://github.com/bblfsh/sdk/pull/206

Remember to update the driver SDK.

[2017-11-10 10:12] abeaumont commented on #204
I already tried it by hand and it fixes the problem

[2017-11-10 10:58] #204 closed

[2017-11-14 09:06] #203 closed

[2017-11-14 09:12] juanjux commented on #203
Fixed by SDK v1.8.0 (already incorporated by latest Python and Java drivers) and bblfshd v2.2.0.

[2017-11-15 08:47] juanjux opened #210 "Fill the Response.Language when the Request.Language was."
Currently, the server fills the Response.Language, either with the Request.Language if it was specified, or with the autodetected language if it wasn't. But when running against a driver container directly, the driver must at least do the first part. This should be implemented in the generic (golang) part of the drivers.

[2017-11-15 11:57] #210 closed

[2017-11-28 12:14] smacker opened #214 "sdk formats objects from AST weirdly"
AST -> UAST
[code]

Such format isn't very useful.

more info here: https://github.com/bblfsh/sdk/pull/213#issuecomment-347505198

[2017-11-28 12:26] juanjux commented on #214
I see two cases here:

- The property is semantically unimportant. Then it doesn't matter what format it really have, trough mapping objects and arrays to the JSON format would be nice.

- The property is semantically important. Then it should be converted to a UAST node (or list of nodes) with roles and such using the promote* config or one of the ToNoder callbacks.

[2017-11-28 12:41] smacker commented on #214
Thank you for your opinion!

Then I see 2 possible improvements here:

- Reflect need of using promote* or modifier (in case of array) for semantically important properties here: https://doc.bblf.sh/driver/annotations.html
- Format as JSON to make it nicer.

I'll send PR for the latter later.

[2017-11-28 16:34] juanjux commented on #214
Fixed by #215.

[2017-11-28 16:34] #214 closed

[2017-11-29 10:17] #80 closed

[2018-01-15 12:47] juanjux commented on #9
PR #224 should fix the remaining items in your list, thanks!

[2018-01-17 11:48] juanjux opened #225 "Investigate if we can run `runc` without root"
https://github.com/AkihiroSuda/containerd/blob/demo-rootless.20180116-1/docs/rootless.md

[2018-01-24 19:23] juanjux opened #226 "Add the language to the ParseReponse"
Will be useful when doing batch-parsing to have the filename in the response.

[2018-02-09 11:43] #160 closed

[2018-02-09 15:25] #9 closed

[2018-02-09 17:50] dennwc opened #231 "Update Go version to 1.9"
This update will allow us to use type aliases, that can be used to map `driver.Status` to `protocol.Status` (and other similar cases).

[2018-02-20 22:18] dennwc opened #235 "Outdated drivers are treated as up-to-date on SDK updates"
Currently drivers manifests has no mentions of version of SDK they were written for. It leads to a situation when driver might become outdated and incompatible, while still being listed as `beta` or even `stable`.

I propose to include new (required) field to manifest with semantic version of SDK. This field will be overwritten by `bblfsh-sdk update` and will be considered when interpreting driver

[2018-02-21 09:55] juanjux commented on #235
We're planning to add a dependency to the driver version using glide, but this could also be additionally done.

[2018-02-21 16:49] dennwc commented on #235
Glide (why not `dep`?) will fix an issue from driver's perspective (SDK changes), but will not directly solve issue from bblfshd perspective (drivers decomes outdated).

Potentially we could read deps file and check what version is mentioned there - it will be the version of SDK drivers supports, and bblfshd can filter these values depending on SDK version it was compiled for.

[2018-02-22 18:30] dennwc commented on #226
@juanjux Do you mean that language is missing or filename is missing? Description and title are controversial.

[2018-02-22 18:32] juanjux commented on #226
Both, I missed and "also" in the description.

[2018-02-23 11:11] #226 closed

[2018-03-01 12:13] juanjux opened #238 "Odd issue with driver images fixed by reinstalling all docker images"
Found while running the fixtures with a just build python-driver image and running the fixture regeneration: it didn't find the python 2 binary.

After deleting the docker image, I rebuild it and then when trying to install it into bblfshd it said:

 `"Installing python language driver from "bblfsh/python-driver:dev-21b075d-dirty"...
Error, manifest unknown: manifest unknown"`.

I deleted everythi

[2018-03-15 12:05] dennwc opened #240 "Refactor internal SDK types to use schema-less representation (BIP-4)"
We will move current `Node` structure to protocol and will use maps and slices to represent AST nodes internally. Conversion to `Node` will happen in protocol package to preserve backward compatibility.

All the work happens in [bblfsh/sdk@transform-dsl](https://github.com/bblfsh/sdk/tree/transform-dsl).

[2018-03-15 12:06] dennwc opened #241 "Implement transformation DSL (BIP-5)"
We should implement shape-based transformation DSL as described in BIP-5.

All the work happens in [bblfsh/sdk@transform-dsl](https://github.com/bblfsh/sdk/tree/transform-dsl).

**TODO:**
- [x] Transformer
- [x] Is
- [x] Var
- [x] Any
- [x] And
- [x] Not
- [x] Check
- [x] Object
- [x] Out
- [x] Arr
- [x] OtherKeys
- [x] Lookup
- [x] Helpers

[2018-03-15 12:11] dennwc opened #242 "Split ToNode into separate transformations (BIP-5)"
Use new DSL to port old `ObjectToNode` transformations.

Requires: #241

**TODO:**
- [x] InternalTypeKey
- [x] OffsetKey, LineKey, ColumnKey
- [x] EndOffsetKey, EndLineKey, EndColumnKey
- [x] TokenKeys
- [x] SpecificTokenKeys
- [x] SyntheticTokens
- [x] PromotedPropertyLists
- [x] PromoteAllPropertyLists
- [x] PromotedPropertyStrings
- [x] TopLevelIsRootNode
- [x] drop OnToNode
- [x] drop Modifier

[2018-03-15 12:16] dennwc opened #243 "Update drivers to use new DSL"
Update drivers to use new transformation DSL and new ToNode helpers.

**TODO:**
- [ ] Go
- [ ] Java
- [ ] JavaScript
- [ ] PHP
- [ ] Python
- [ ] Ruby

[2018-03-15 12:27] juanjux commented on #243
Bash driver too.

[2018-03-15 12:28] dennwc opened #244 "Port annotation DSL predicates (BIP-5)"
Port old annotation DSL predicates to a new transformation DSL.

Requires: #241

**TODO:**
- [x] Self
- [x] Children(HasInternalRole)
- [x] Roles
- [x] HasInternalType
- [x] HasProperty
- [x] HasToken
- [x] And
- [x] Not
- [x] drop Children
- [x] drop Descendants, DescendantsOrSelf
- [x] drop HasInternalRole
- [x] drop HasChild
- [x] drop Or

[2018-03-15 12:29] dennwc commented on #243
Yeah, sorry, was thinking about UAST2 (that will not be done for Bash).

[2018-03-15 12:34] juanjux commented on #243
Why not? Is one of the stable drivers.

[2018-03-15 12:37] dennwc commented on #243
Sure, but we have no u2 tests for it yet, and the model of Bash execution is comparable to C++ preprocessor.

I would say that it might make sense to limit a set of drivers for now, and add it once we port these 6 major drivers.

[2018-03-15 12:50] juanjux commented on #243
Ok, but we should migrate the bash driver ASAP after the migration is completed because, as said, it's considered part of the `--recommended` set.

[2018-03-15 13:10] dennwc commented on #243
This is one of the reasons for https://github.com/bblfsh/sdk/issues/235, since in this case bumping SDK version would remove incompatible drivers from `--recommended` automatically (for a particular version of `bblfshd`).

[2018-03-15 13:15] juanjux commented on #243
Yes, I don't mean it in the sense that it would be installed but in the sense that it was requested to be updated and complete recently.

[2018-03-15 13:20] juanjux commented on #231
Since we're at Go 1.10 I think it's pretty safe to require 1.9. This implies first updating all drivers to Alpina 3.7 (I'll do a PR round for this later).

[2018-03-15 14:38] #231 closed

[2018-03-15 17:26] juanjux commented on #235
Outside of the convenience of using dep, I think the SDK dependency should be stated in the manifest just like we do with the required Go version.

[2018-03-15 17:39] dennwc commented on #235
Is it just for quick access? Driver discovery can pull dep file as it pulls `MAINTAINERS` currently.

[2018-03-15 17:49] juanjux commented on #235
It's because the manifest should have all the important versions needed in a single place, I think (currently it has the runtime version of the language and the Go versions). Then the bblfsh-sdk update command could update the Gopkg.toml file from the manifest as it does with other things.

[2018-04-04 15:32] zurk opened #252 "Add parent field into UAST Node in clients."
Sometimes it is important to keep it on hands.

If there is no such field you need to store all parents while performing some complicated UAST traversing.

[2018-04-05 13:42] juanjux commented on #252
It's an interesting request. We approved adding an "structural parent" to some nodes, that would link them with the "high level structure" (function, class, etc) where they belong, even if they're several levels below. Anyway we're in the middle of a complete rewrite of the SDK and the annotations but after that is completed we could evaluate this and how to do it.

[2018-04-05 14:46] zurk commented on #252
ok, it can wait, I have workarounds.

[2018-04-20 09:27] dpordomingo opened #253 "Expose the listing drivers endpoint for clients"
As required by https://github.com/bblfsh/client-scala/issues/68 and https://github.com/bblfsh/dashboard/issues/89, it would be needed to let the clients to fetch the list of installed drivers.

That API is part of the [bblfshd/daemon/protocol](https://github.com/bblfsh/bblfshd/blob/master/daemon/protocol/service.go#L15), and it's currently only [exported throwgh a unix socket for admin purposes](h

[2018-04-20 09:33] juanjux commented on #253
Yes, Soon™

(Soon = as soon as we finish with the SDK and drivers migration).
--

 

[2018-04-20 09:53] dpordomingo commented on #253
As suggested by @bzz I added to the issue desc, a list of clients needing this.
(there is no issue yet in [client-python](https://github.com/bblfsh/client-python/issues))

[2018-04-20 10:18] zurk commented on #253
Now we have it for python client also https://github.com/bblfsh/python-driver/issues/155

[2018-04-20 10:32] dennwc commented on #253
@juanjux I can implement it. Don't want to block Apps because of this trivial feature.

[2018-04-20 10:34] juanjux commented on #253
@dennwc Talk with David, he was interested in doing it too.

[2018-04-20 10:43] bzz commented on #253
@dennwc

You are not - we actually have already something working for now, only for our case.

At the same time - we do not want to steal you precious time from more complex work and would be happy to contribute this one, under your careful review and supervision of course!

If that would be fine with you guys, @juanjux @dennwc  - AFAIK indeed @dpordomingo will be happy to start looking into that

[2018-04-20 13:00] zurk commented on #253
@dpordomingo can you add https://github.com/bblfsh/client-python/issues/98 also in your list in first message please?

[2018-04-20 19:02] dpordomingo commented on #253
Added python to the desc.
I'd like to take a look at it this weekend and I'll ask you next week to confirm I understood how to do it (I never worked with bblfsh, so lets see if I can help :wink:

[2018-04-20 19:13] juanjux commented on #253
Excellent @dorpordomingo, btw we're hiring! 😁

[2018-04-25 09:31] dennwc commented on #235
I agree that manifest should contain this information as well. I propose to parse both `MAINTAINERS` and `Gopkg.toml` as a part of `bblfsh-sdk update` and update manifest accordingly. This will allow dropping the parsing code from driver discovery and will remove some unnecessary calls to Github API.

[2018-05-03 08:35] #242 closed

[2018-05-03 08:36] #240 closed

[2018-05-03 08:36] #241 closed

[2018-05-03 08:36] #244 closed

[2018-05-14 14:55] dennwc opened #257 "Clarify error statuses returned by native drivers"
Babelfish drivers may return 3 main statuses: `OK`, `Error`, `Fatal`.

Currently, there is no guarantee that `Error` responses will have a partial AST, since it's not tested in any of the drivers.

At the same time, `Error` status is not considered an error/exception in clients as reported in https://github.com/bblfsh/java-driver/issues/77, thus clients might not be aware that they receive a parti

[2018-05-14 14:55] dennwc commented on #257
Ping @smola @juanjux

[2018-05-14 15:08] juanjux commented on #257
It's documented that the user should check the status code in the [Reading and Interpreting the Response](https://doc.bblf.sh/user/server-grpc-example.html#reading-and-interpreting-the-response) section.

[2018-05-14 15:53] dennwc commented on #257
This is what is written in docs. I think this means that clients should raise an error/exception for all statuses other than `OK` and users will not be forced to check it.

[2018-05-14 16:37] juanjux commented on #257
The full quote, emphasis mine:

I think it's clear in saying that the status should be checked. It doesn't say that the clients should raise an exception.

Once that's said, can talk about if we want the clients to raise an exception for the `Error` status. Personally, I think a broken source file is not an exceptional failure (especially when you are parsing thousands and exceptions in Scala can

[2018-05-14 17:59] juanjux commented on #257
Could be an Optional in Scala which AFAIK doesn't have the performance penalty of exceptions and force the user to check them before usage.

[2018-05-16 08:48] smola commented on #257
Scala's `Option` doesn't work here, since you could not check the error message in case of error. `Option` can be `Some(result)` or `None`.

You have other options to avoid exceptions:

Define a `DriverException` with a method to retrieve the failed `UAST`, and then one of the following:

1. Define a `DriverException` or with a method to retrieve the failed `UAST`, if any. Then your parse methods

[2018-05-16 08:52] zurk commented on #257
I read the docs that you mentioned guys, and I personally think that we just should add something more to it. Because in case of not `OK` status it is unclear what does it mean.

I found another piece of documentation here: https://doc.bblf.sh/driver/internal-protocol.html
[code]
and maybe we should just add this clarification to the part @juanjux mentioned: https://doc.bblf.sh/user/server-grpc-ex

[2018-05-16 09:26] dennwc commented on #257
@zurk Sorry, I wasn't clear about what I meant by errors/exceptions. It more in lines with "any native way for a language to return an error state with a failed AST". The way how it would be done in Go is very similar to a way how @smola proposed to handle it in Scala.

[2018-05-16 09:36] juanjux commented on #257
@smola but this would require throwing an exception internally anyway, doesn't it? My concern is that Exceptions have an effect in performance in C++ and Java and by extension I guess in Scala (not much in Python unless things have changed since I tested it). Maybe we could write something similar to Option that returns the error and the partial UAST if the driver provides it instead of None.

[2018-05-18 08:51] smola commented on #257
@juanjux `Maybe we could write something similar to Option that returns the error and the partial UAST if the driver provides it instead of None` -> That would be something like `Either[UAST, (string, UAST)]`. In the second case, there is an error that cannot be easily ignored. People would still be able to write a quick one liner to get the UAST without checking the error, but it would be quite h

[2018-05-21 09:50] dpordomingo commented on #253
I'll start looking into this today. Let's see if I find the way to do it :dagger:

[2018-06-01 17:47] dennwc opened #260 "Semantic types"
Implement all the code necessary to support Semantic UAST types.

**TODO:**
- [x] New pipeline step
- [x] High-level helpers for defining semantic mappings
- [x] Low-level helpers to support operations required by drivers
- [x] Strict type checks for semantic types
- [x] Basic tests for reversibility

[2018-06-01 17:49] dennwc opened #261 "Implement semantic types in drivers"
Implement UAST normalization for semantic types defined in https://github.com/bblfsh/sdk/issues/260.

**TODO:**
- [x] Go (https://github.com/bblfsh/go-driver/pull/20)
- [x] Java (https://github.com/bblfsh/java-driver/pull/79)
- [x] JavaScript (https://github.com/bblfsh/javascript-driver/pull/20)
- [x] Python (https://github.com/bblfsh/python-driver/pull/157)
- [x] PHP (https://github.com/bblfsh/ph

[2018-06-13 15:19] bzz commented on #253
I belive this has been done now, and included in https://github.com/bblfsh/bblfshd/releases/tag/v2.5.0

@juanjux shall we close this now, as all subsequent work would be tracked under the issues in appropriate `client-*` repos?

[2018-06-13 15:49] #253 closed

[2018-06-18 14:35] smola commented on #257
Or maybe we should just stress this in our docs.

It doesn't help if our own official examples do not check status ;)

* https://doc.bblf.sh/using-babelfish/language-clients.html#example

And there could be further reminders here:

* https://doc.bblf.sh/using-babelfish/babelfish-protocol.html#parserequest

And expand the description about how to use `Status` here:

* https://godoc.org/gopkg.in/bbl

[2018-06-18 14:50] juanjux commented on #257
That example on the language clients page is pretty weak. Not only it doesn't check the `Status` but uses reflection to check the type of the root node (???). I must have been drunk or something when I reviewed that. Sorry. I'll fix that and the other page thanks for noticing.

[2018-06-18 15:09] juanjux commented on #257
@smola PTAL bblfsh/documentation/pull/160

Personally, I preferred the previous version in Python before it was nuked by the previous lead since: 1) It's still a lot more used than Go and thus more readers would be able to get it and 2) Shows that bblfsh is not a "go-only" project for users. What do you think?

[2018-06-19 10:31] smola commented on #257
@juanjux Examples in multiple languages would be nice in the docs. Go, Python and Scala, ideally.

[2018-06-19 10:54] juanjux commented on #257
I agree, I'll do it.

[2018-06-26 09:17] juanjux opened #264 "Make CI log in into github"
To avoid "403 error limit rate exceeded" errors.

Note: once this is fixed, the workaround added in #307 should be removed.

[2018-07-20 16:44] dennwc commented on #261
Done! :tada:

[2018-07-20 16:44] #261 closed

[2018-07-20 16:45] #260 closed

[2018-08-01 12:15] dennwc commented on #235
The first step is done - new drivers will include an SDK version in the `Gopkg.toml`.

[2018-08-02 14:54] dennwc commented on #238
Was not able to reproduce this. Closing for now.

[2018-08-02 14:54] #238 closed

[2018-08-02 14:56] dennwc commented on #225
Not related to SDK. See https://github.com/bblfsh/bblfshd/pull/153.

[2018-08-02 14:56] #225 closed

[2018-08-02 14:57] dennwc commented on #252
@zurk As a retrospective, have you used the SDK or Go/Python client?

[2018-08-02 14:59] dennwc commented on #257
Since the v2 protocol is going live, it's the right time to revisit this for client libraries.

[2018-08-02 15:00] dennwc commented on #92
I don't think it's relevant and I agree with @juanjux on this. Closing.

[2018-08-02 15:00] #92 closed

[2018-08-02 15:38] juanjux commented on #252
I definitely used the "@internalRole" selector in the implementation of many SonarType checks, which is not exactly the same, but  I can imagine getting the parent node could be useful. But just as a side note, with XPath you can get the parent of the node with the query `"/parent::*"`

[2018-08-02 15:48] dennwc commented on #252
Yes, this is why I'm trying to figure where exactly the parent field can be helpful. Probably the native client data structures.

[2018-08-03 08:30] zurk commented on #252
@dennwc I use Python client.
I need this field in some complex traversing scenarios. For example, if I need to find the shortest path between two leaves. So it is not about XPath queries, more about class property like `node.parent`

[2018-08-06 09:21] juanjux opened #285 "Semantic objects's top nodes should have roles"
Elements inside a semantic object doesn't need roles since their structure is standard, but the top node of a semantic object definitely needs them to mark the role they do inside their parent node when this one is not a semantic object. This is specially important for Identifier objects since they're everywhere but losing the roles means you've to check the internalRole which is language dependen

[2018-08-06 09:32] juanjux commented on #285
Closing, I just noticed most have roles, I was just looking at a couple uast:Identifiers that didn't (will open a separate issue for the java driver).

[2018-08-06 09:32] #285 closed

[2018-08-10 11:01] smacker opened #288 "Some nodes don't have roles anymore"
Examples:

java:
<img width="468" alt="screen shot 2018-08-10 at 12 58 56" src="https://user-images.githubusercontent.com/406916/43954615-7384cd70-9c9d-11e8-8b10-e58e8d41d508.png">

go:
<img width="393" alt="screen shot 2018-08-10 at 13 00 57" src="https://user-images.githubusercontent.com/406916/43954621-773c48ee-9c9d-11e8-888d-c01623791ca7.png">

[2018-08-10 11:14] juanjux commented on #288
Nodes inside semantic objects (like in this case the Identifier inside the QualifiedIdentifier) doesn't have roles because the parent semantic object itself (QualifiedIdentifier) have a standard structure and, if it's parent is not a semantic object, it would be the one doing a "role".

For example, for the elements inside a FunctionGroup semantic objects you don't need roles because the children

[2018-08-10 11:35] smacker commented on #288
Ok. The issue came from the misunderstanding of new semantic things.

Though I would like to keep this issue open because user experience for querying is confusing for me now.
I need to mix both role&semantic concepts to do queries and I need to know uast implementation details. Which part of native AST is considered semantic and which not...

[2018-08-10 12:53] dennwc commented on #288
The problem is that, as @juanjux mentioned, semantic object don't have roles, since they are known upfront. And all semantic types have a `uast:*` prefix for their types, so they can be found easily.

But again, since we are emulating for an old `libuast`, we have to hide the `uast:` namespace. As an alternative, we can emulate a `uast=true` attribute on v1 nodes. But this won't resolve the usabil

[2018-08-14 09:24] smola opened #290 "Node.Hash is always zero"
From @ajnavarro yesterday ([more](https://github.com/ajnavarro/dupes/blob/master/empathy-log.md)):

Is this function currently used? Maybe we should just remove it until it is?

[2018-08-14 09:40] vmarkovtsev opened #291 "[feature] Include the information about full tokens"
Strings, comments, etc. have their `Token` set to the inner value of the token. E.g. in Python
 `"hello"` has Token `hello` (no quotes). This is all good and logical.

However, we discard information about the real token - quote characters, comment characters, etc.
It is needed to reproduce the original source code from a UAST. I have two possible solution proposals:

1. Add "FullToken" for those

[2018-08-14 09:57] juanjux commented on #291
Comments should have the character used, prefix and suffix in the semantic UAST "Comment" object. For strings, at least in the Python and Ruby drivers unfortunately the native AST [doesn't provide the string type](https://github.com/bblfsh/python-driver/blob/master/fixtures/string_normal.py.native) so this won't be possible for all drivers unless we parse the source code ourselves.

I'll leave thi

[2018-08-14 10:07] vmarkovtsev commented on #291
The current workaround is simple: I look at `file_contents[start_position.offset:end_position.offset]` and record prefixes and suffixes.

[2018-08-14 10:11] dennwc commented on #290
I removed it as soon as I started v2 branch. So it's already fixed in master.

[2018-08-14 10:11] #290 closed

[2018-08-14 10:15] dennwc commented on #291
Token as a concept won't work in the long run, so I think we should provide a helper that selects a source file content based on positions of nodes, as @vmarkovtsev mentioned.

For example, what is the token of `do ... while`? This will get more and more complex once we start working with semantic concepts for classes.

[2018-08-14 10:27] juanjux commented on #291
Even with semantic objects it would be nice to keep the concept either as a single unified name or as some kind of metadata so XPath queries doesn't have to match every semantic object to retrieve a different field in each which happens now as @smacker said the other day.

[2018-08-16 08:21] dennwc opened #292 "Tag v2 docker images as latest"
We are waiting for a new version of libuast to release v2 drivers. Will keep track of this issue here.

[2018-08-16 12:13] dennwc opened #293 "Implement libuast v2 in Go as a part of SDK"
See [Design doc](https://docs.google.com/document/d/1jk2zJ4oB0k8rXvJiqGPoQPCUDhsGk8Dxe9YFtojMTWY) and [v2 spec](https://docs.google.com/document/d/1iDOuWLnTckBdSscUMWGl2hBqAAqRn8jdRabXZSdr2aw).

[2018-08-24 15:36] dennwc opened #299 "SDK update should not create files related only to driver init"
Currently `bblfsh-sdk update` creates a `native.sh` file if it doesn't exists. But this file is intended only for an `init` command.

Need to add a flag that tells SDK if it should skip such files during an update.

[2018-09-18 16:01] dennwc commented on #292
Already done

[2018-09-18 16:01] #292 closed

[2018-09-24 09:34] smola commented on #264
@juanjux What's the environment variable where it needs to be defined? Note that this will not be defined for PR in forks.

[2018-09-24 09:38] juanjux commented on #264
No idea, @dennwc was fighting with this but I think it didn't work (check #267) thus the current workaround.

[2018-09-24 13:14] dennwc commented on #264
@smola See https://github.com/dennwc/sdk/commit/fd734a1d8d8291d7f2620ca9f20c8d94e9cc2d69. And yes, it's a significant drawback that it cannot be used in PRs.

[2018-10-12 17:27] bzz opened #315 "Migrate SDK to go-log"
Use https://github.com/src-d/go-log instead of `type Logger interface` from [driver/server/logger.go](https://github.com/bblfsh/sdk/blob/master/driver/server/logger.go)

[2018-10-16 09:49] vmarkovtsev opened #317 "Add Babelfishfile"
We hit this recurring problem from time to time: drivers update, some problems are fixed and thus some of our workarounds crash. There can be new bugs added as well - e.g. when a native parser is changed or the SDK is refactored. So we propose to add `Babelfishfile` which pins the driver versions similar to `package.json` or `requirements.txt`. We expect it to work like

[code]

or

[code]

[2018-10-16 10:03] juanjux commented on #317
Good idea.

[2018-10-17 14:32] dennwc opened #318 "Proposal: remove @token in favor of positional info"
Currently, there is a confusion with a `@token` field in the AST.

On one hand side, it is expected to store a raw string representation of the node, as it's written in the source file.

On the other hand, some drivers assume that `@token` should store a keyword for composite nodes (for example `func` in `func Foo()`).

Also, both assumptions are false in Semantic UAST - nodes will store a distinc

[2018-10-18 18:57] eiso commented on #317
I like this idea!

[2018-11-02 16:35] dennwc opened #325 "bblfsh-sdk does not account for the driver's SDK version"
Currently, if the version of the driver and `bblfsh-sdk` tool doesn't match, the tool will always try to override "changed" files. This change will break the driver's CI since it will install an older SDK version, as required by the manifest.

Instead, the tool should get the requested SDK version in the manifest (we have this functionality already) and compare it with it's own version. The tool s

[2018-11-02 16:59] dennwc opened #326 "Automate the driver's SDK version upgrade"
Currently updating the SDK version is time-consuming and error-prone.

The process of upgrading a single driver is trivial but a bit long (assuming latest `bblfsh-sdk` tool installed):
1) Clone/pull the latest driver version.
2) Change the version in the `Gopkg.toml` from `vA.B.x` to `vA.C.x`.
3) Run `dep ensure --update gopkg.in/bblfsh/sdk.v2`. In rare cases, it's necessary to run `dep ensure`.
4

[2018-11-02 18:21] juanjux commented on #326
Totally agree. Automating tedious and error prone processes have my 👍

[2018-11-05 08:21] smola commented on #326
:+1: it makes sense to script this thing, at least for running locally.

If we automate with a webhook, how would we determine if we should bump major, minor or patch? Based on SDK version change?

[2018-11-08 18:47] dennwc commented on #293
Done, see https://github.com/bblfsh/libuast/pull/89

[2018-11-08 18:47] #293 closed

[2018-11-08 18:47] dennwc commented on #257
Done, see https://github.com/bblfsh/sdk/pull/321

[2018-11-08 18:47] #257 closed

[2018-11-08 18:49] dennwc commented on #317
@mcuadros Can you please move this issue to [bblfshd](https://github.com/bblfsh/bblfshd)?

[2018-11-13 17:24] juanjux commented on #318
I think this is a case of having something being better than having nothing.

IMO we should define what to do where drivers diverge and fix the ones that do.

[2018-11-13 19:17] dennwc commented on #318
The point is that there is no correct answer to this problem for Semantic UAST.

Token loses the meaning in the Semantic UAST, if we speak about keywords, and it breaks expectations of being a raw code string if we speak about values, since they will be unescaped.

[2018-11-20 11:46] bzz commented on #325
I like the idea of not able to make a mistake by running vendored version of the bblfsh-sdk binary.

[2018-11-21 11:23] bzz commented on #317
We already have an issue in bblfshd - may be we could re-purpose it/merge this with https://github.com/bblfsh/bblfshd/issues/181 ?

[2018-11-21 11:33] vmarkovtsev commented on #317
@bzz But the issue you point to is quite different: it is proposed to load drivers from file system there.

[2018-11-21 17:21] bzz commented on #264
Not sure what are the action items here. What's left before closing this one?

Shall `BABELFISH_GITHUB_TOKEN` env var be set in the TravisCI [repository settings](https://docs.travis-ci.com/user/environment-variables/#defining-variables-in-repository-settings) for some repository?

Also not sure why exactly it cann't be used in PRs.

[2018-11-22 08:54] bzz commented on #235
🎉 What would be the next action items here?

[2018-11-22 12:16] smola commented on #264
@bzz Secret environment variables cannot be used in PRs. It's by design on Travis to prevent secret leaks.

IMHO the rate limit errors should be avoided by using some kind of static manifest that can be retrieved without the API, but that's beyond the scope of this issue.

[2018-11-22 15:30] dennwc commented on #264
Right now the code will try to discover drivers using Github, and if it fails, it will download a static drivers list hosted in the [documentation](https://github.com/bblfsh/documentation/blob/master/languages.json) repo.

[2018-11-22 15:38] dennwc commented on #235
First of all, the `bblfsh-sdk` tool will need to detect `vendor` directory and run the `bblfsh-sdk` from the vendored SDK. This way we can make sure that `bblfsh-sdk` is the same version as the SDK package listed in the manifest. But this can be solved separately (see https://github.com/bblfsh/sdk/issues/325).

We might be able to solve it by updating `bblfshd` to use the major SDK version it was

[2018-11-22 15:46] dennwc commented on #317
Yes, I think it should be a separate issue. Waiting for it to be transferred to `bblfshd`.

[2018-11-27 11:10] bzz commented on #325
I guess this is related to #326

[2018-11-27 14:55] bzz commented on #326
For simple SDK version update, one can use
[code]

[2018-11-27 16:33] creachadair commented on #325
If the two need to be in sync, should we include a handshake in the protocol so that the library and the SDK can tell whether they have compatible versions?

I'm probably missing something, but is there some reason why these aren't released together if they depend on each other? Or are they, and this is only affecting the CI?

[2018-11-28 09:13] smola commented on #326
Does `update` never update other files?

[2018-11-28 13:55] bzz commented on #326
In this case, update did not change anything and this script is only handling a simplest case at hand, adding to git only results of `dep ensure`.

But in general case AFAIK `update` can at least change any of the [managed files](https://github.com/bblfsh/sdk/blob/master/cmd/bblfsh-sdk/cmd/update.go#L29) - which of course should be handled by a general automation.

[2018-11-28 14:14] bzz commented on #326
Below RFC for simplest useful automation, after a first hand experience of managing SDK update for drivers in https://github.com/bblfsh/client-go/issues/102

## Proposal

I would suggest having 3 small CLI scripts for this automation, that communication though STDIO:

  1. Bump versions, commit, push (1-6)
    - Input: new SDK version number
    - Output: URLs for PR creation from new branches in

[2018-11-28 16:23] creachadair commented on #326
Re: RFC. I like this approach.

I've had good luck using freestanding (meaning `go run`-able) Go programs for scripting tasks like this.

[2018-11-28 18:43] kuba-- opened #332 "xpath query is not validated"
The issue is related to:
- https://github.com/src-d/gitbase/issues/541
- https://github.com/src-d/gitbase/issues/635

Generally *SDK* uses 3rd-party package (github.com/antchfx/xpath) to compile xpath queries.
Unfortunately lot of incorrect xpaths passes, e.g.:

[code]

[2018-11-28 21:06] dennwc commented on #325
@bzz I don't think `-v` will help here since it cannot detect it's own minor version. And it's not required - you just need to run a copy from `vendor` if it exists. For development, you can either remove it from `vendor`, or bump version with dep.

@creachadair The problem is that we have a `bblfsh-sdk` tool installed globally, and each driver also has a `vendor` with a potentially different vers

[2018-11-29 12:43] dennwc commented on #325
It's not that hard to stat `vendor` and `exec("go run ./vendor/.../bblfsh-sdk")`. But printing a warning definitely makes sense.

If the solution to an error is clear, the tool may do it automatically.

[2018-11-29 13:06] dennwc commented on #332
Yes, the library isn't ideal. We should fix it upstream.

But also there were few discussions that XPath might not be the best language going forward, so maybe we will just use a new language? Will need to decide at some point.

[2018-11-29 13:16] kuba-- commented on #332
Ok. I'm wondering if graphql would be a good choice here.

[2018-11-30 22:33] bzz commented on #264
Will close, as there is no further discussion.

But please, feel free to re-open if you think it's was not addressed/solved yet.

[2018-12-05 21:35] dennwc opened #339 "Proposal: Allow DAGs in UAST"
As discussed in multiple LA meetings, I'd like to enable DAG support in the SDK.

Although, there might be an ambiguity on what it actually entails. I showed multiple examples where DAGs were used with a single UAST (tree-like), multiple roots (token stream, native AST, UAST) and more graph-like structures (all mentioned UAST roots, schema nodes, root-less annotations pointing to UAST nodes, etc).

[2018-12-11 22:54] dennwc opened #340 "XPath returns a node instead of an attribute"
From the new Python client:

See https://github.com/bblfsh/client-python/pull/128#issuecomment-446199039

Related either to XPath projection in SDK, or XPath library itself.

[2018-12-12 09:17] juanjux commented on #340
The problem is probably the `@` in the `@token` (and `@type`, `@pos`, etc...) since XPath uses the `@` symbol to retrieve attribute values.

[2018-12-12 14:03] smola commented on #332
Keep in mind that we do support, recommend and demo XPath today. Feel free to open a separate issue and start discussing proposals for the future, but this is a real issue today.

[2018-12-12 15:13] juanjux commented on #332
Since the errors on the test code always say the same, so it's not clear to me what of the examples are supossed to be right or wrong, but I've tested with an online [XPath validator](https://www.freeformatter.com/xpath-tester.html#ad-output). I've also tested using the client-python v3 (which uses the SDK and thus the library).

1. The first example works even if it uses double quotes. It also wo

[2018-12-12 15:44] dennwc commented on #340
`_BBLFSH_` is too hard to use, so maybe we can pick something different?

The token specifically is mapped to the node's content. Since does might have both token and children, I also projected is as a separate child node (`<token>` or `<Token>`?).

`@type` is projected to a node element name, so we don't need to handle it that way.

`@pos` is projected to attributes as: `<pos-name>-start-offset`,

[2018-12-12 15:48] juanjux commented on #340
Yeah, `_BBLFSH` it was just an example, but the user would still use `@` and it would be translated internally (would still be ugly on the fixtures). The length is to avoid possible collisions with drivers; existing properties. But since we translate whatever field is the token in the native AST, we should be right using another "token" property for this specific case.

[2018-12-12 18:02] creachadair commented on #340
Is this an issue that arises from queries generated inside the library (rather than directly by users), and if so can we work around it by adding quotes explicitly? I'm pretty sure XPath allows "@" in values, as long as they're escaped.

[2018-12-12 19:15] juanjux commented on #340
Nope, no scaping of symbols for XPath 1.0 as far as I investigated. Double quotes doesn't work either. This would also affect, actually I found about this while upgrading the Python client's unittests.

The solution proposed by @dennwc of creating internally a 'token' property with the @token should be simple to implement.

[2018-12-12 19:18] dennwc commented on #340
P.S. I believe it was already implemented and merged ;) We just haven't updated the docs.

[2018-12-13 10:09] juanjux commented on #339
https://github.com/src-d/backlog/issues/1321#issuecomment-446912588

[2019-01-09 14:13] bzz commented on #332
@kuba-- @ajnavarro if  you guys have any thoughts on results of @juanjux preliminary research - please feel free to share

[2019-01-10 11:36] kuba-- commented on #332
For me it's all about optimization. If we can reject wrong query earlier instead of waiting till the end to say "no results" (because query is no valid) then it's better. In other words we'll take what LA team give us ;) The open question is - do we wanna change 3rd library to parse xpath, or stick to what we use so far?
@ajnavarro - correct me if I'm wrong.

[2019-01-14 10:01] ajnavarro commented on #332
@kuba-- totally agree.

I think the problem here is that almost any string is a valid XPath query. Maybe we should add some extra validation for our use case, like the supported node names. Per example, if the user tries to query `//uast:Idenitfier` instead of `//uast:Identifier`, in my opinion, we should throw an error before executing the query.

[2019-01-14 10:40] kuba-- commented on #332
We may introduce waterfall of validators. XPath library should validate just xpath. So, bblfsh will be sure that got valid xpath and can focus on validating own syntax and reject e.g. non-uast queries:
`//ast:Paradigm`

[2019-01-14 11:02] dennwc commented on #332
This will require us to have a strict schema exposed to XPath. And before even trying this we will need to refactor XPath library to allow such hooks to be installed.

[2019-01-14 11:08] kuba-- commented on #332
No worries, I can help ;)
But frankly, this is just a wish. Actually we already have a kind of schema, but not written down, to let us generate validators. It's like having _yacc_ file for _our_ xpath.

[2019-01-14 11:17] dennwc commented on #332
In general, I think it's a good idea, but we are not ready for it right now.

For example "our" XPath is well defined for Semantic nodes (`uast:*`), but we know nearly nothing about nodes unique to each programming language (`cpp:*`). I have plans to derive this schema later, but for now, it's only possible to assert for `uast:`-related queries.

[2019-01-14 11:21] kuba-- commented on #332
So let's do it in "baby steps". Personally, I prefer many small features/tools which we can add one by one instead of one big 🎉 effect.

[2019-01-14 11:23] dennwc commented on #332
Totally agree! We can start by making an XPath library better. It's a bit messy right now.

[2019-01-25 19:19] dennwc opened #351 "No way to detect if native driver is ready"
## The problem

Currently, the native protocol only allows `Parse` requests/responses. When the Go driver server starts the native driver, it has no way of knowing if the driver is ready to accept requests. Because of this, driver server cannot tell `bblfshd` if it's ready or not.

This lead to a situation where we cannot distinguish a real request timeouts from "driver not ready" kind of timeouts

[2019-01-25 20:19] dennwc commented on #351
As discussed in Slack, the other option may be to use [JSON-RPC v2](https://www.jsonrpc.org/specification) on the wire. The protocol is dead simple and can be served serially.

[2019-01-28 02:06] mcuadros commented on #351
As I discussed with Michael, JSON-RPC sounds like a perfect solution for the communication between the native driver and the drivers. But we should do in a way that the adoption can be done incrementally

[2019-01-28 04:40] creachadair commented on #351
Yes, agreed. I think if we start by making the daemon support both the existing protocol and the new one, then we can migrate each driver incrementally to use the new protocol as time allows, and that way things will continue working at all times. (Those drivers not yet migrated will still suffer from this issue, but we can focus on the higher-priority ones first)

[2019-01-29 15:57] dennwc opened #352 "Convert UAST into native AST"
Original request:
- https://github.com/bblfsh/client-python/issues/91

[2019-01-31 15:06] juanjux opened #353 "SDK 2.13 fails to generate specific semantic fixture that worked with 2.12"
## Summary

Trying to generate fixtures for the Python driver after upgrading to 2.13.x I noticed that generation of semantic fixtures (using `bblfsh-sdk test`) stopped after this file:

https://github.com/bblfsh/python-driver/blob/master/fixtures/issue_server101.py

Neither that file or any other that came after it (in alphabetic order) had the `.py.sem.uast` files generated. There wasn't any err

[2019-01-31 15:07] dennwc commented on #353
Will check it.

[2019-01-31 15:08] dennwc commented on #353
Note that steps should include:
[code]
after changing the `toml`

[2019-01-31 15:32] juanjux commented on #353
Nope, problem is elsewhere, could make 2.13 work and 2.12 fail changing one of the driver annotations, closing.

[2019-01-31 15:32] #353 closed

[2019-02-07 20:56] dennwc opened #355 "Running the pipeline in reverse"
The DSL was designed and implemented to run in both forward (AST->UAST) and reverse (UAST->AST) modes. This allows converting the native AST returned by drivers to a canonical form (UAST) and back to the native AST.  Assuming https://github.com/bblfsh/sdk/issues/352 is solved this will allows us to render UAST into the source files.

However, to make this possible all operations defined by the DSL

[2019-02-08 22:54] smacker opened #357 "panic: unexpected type: *xpath.attributeQuery"
[code]

[code]

[2019-02-08 22:55] smacker opened #358 "panic: unexpected type: *xpath.childQuery"
[code]

[code]

[2019-02-08 23:14] smacker opened #359 "getting an attribute doesn't work"
According to [documentation](https://developer.mozilla.org/en-US/docs/Web/XPath/Axes) getting an attribute works like this:

[code]
and it produces
[code]
(you can run this on this page in console)

As in the new api everything is a node, I expect to get a node that I can convert to a string using `.(nodes.String)` (in go-client, not sure about other because only go client is available right now).

[2019-02-11 11:58] juanjux commented on #358
What version are you using? It works on my machine(TM) with the latest v3 release.

Also, that query returns nil for me, but this one works:

`//uast:FunctionGroup/*/uast:Alias/Name/uast:Identifier/Name`

[2019-02-11 12:11] juanjux commented on #357
Same as in #358 - doesn't crash here, but returns `nil` since the query doesn't seem to be correct.

[2019-02-11 12:27] smacker commented on #358
master:
[code]

[2019-02-11 12:49] dennwc commented on #358
@smacker Maybe something is wrong with a version of XPath library you are using?

[2019-02-11 12:53] juanjux commented on #359
Works for me with this query:

`//uast:FunctionGroup/*/uast:Alias/Name/uast:Identifier/Name`

[code]

[2019-02-11 13:26] smacker commented on #358
true. looks like the bug was fixed in xpath lib but I had older version in my $GOPATH.

[2019-02-11 13:26] #358 closed

[2019-02-11 13:26] smacker commented on #357
true. looks like the bug was fixed in xpath lib but I had older version in my $GOPATH.

[2019-02-11 13:26] #357 closed

[2019-02-11 13:30] smacker commented on #359
It's not clear for me why your query looks like that.
`//uast:FunctionGroup/*/uast:Alias/Name` already returns Identifier node, right? Why do I need to query it once again?

[2019-02-11 13:33] juanjux commented on #359
`Name` is the property inside the `uast:Alias`, now to continue `browsing` the tree to get the token you need to go trough the `uast:Identifier` to get its `Name` property because just the identifier is an object.

[2019-02-11 14:04] smacker commented on #359
Please help me understand what property is. I don't see such thing in [specification](https://www.w3.org/TR/1999/REC-xpath-19991116/).

The closest thing I see there is "attribute" but it has different syntax to query (starts with `@`).

If by property you mean just another level of nodes in the tree when I print results of `//uast:FunctionGroup/*/uast:Alias/Name` it should show me a list is that

[2019-02-11 15:10] dennwc commented on #359
@smacker Juanjo is referring to a UAST schema for [Alias](https://github.com/bblfsh/sdk/blob/master/uast/uast.go#L469) and [Identifier](https://github.com/bblfsh/sdk/blob/master/uast/uast.go#L298), both have a `Name` property. But since the `Name` of an `Alias` is pointing to an object, it's projected to XML as a `/Name/`. Then there is a second indirection into an `Identifier` node that has a `Na

[2019-02-11 15:53] juanjux commented on #359
Yes, I was speaking of properties in the JSON sense. No expert in XPath either.

[2019-02-11 16:18] smacker commented on #359
@dennwc could you please explain what is `Name property` in XML? From what you said I understand the tree as XML like this:

[code]

I also tried to explore the tree a little bit more using this code:
[code]

As the result I see:
[code]

So `Name1` and `uast:Identifier` are actually the same nodes which is super weird.

[2019-02-11 16:51] juanjux commented on #359
It makes sense. Once you write a `/` you're telling XPath that you're "walking" over the nodes and then you've to specify the node types to walk so if you check the node types in the XML they follow this path:

`uast:FunctionGroup/uast:Alias/Name/uast:Identifier/Name`

So, to walk over to the last `Name` you need to go trough the `uast:Identifier` (or use a `//*`) but if you stop at the first `Nam

[2019-02-11 17:06] smacker commented on #359
why does it return me Identifier node, not the `Name1` node?

I tried the XML from above online and it works returning `Name1` node, not `Identifier` node:
<img width="882" alt="screenshot 2019-02-11 at 18 04 31" src="https://user-images.githubusercontent.com/406916/52579915-82870600-2e27-11e9-941f-30792aa42f88.png">

[2019-02-11 17:32] juanjux commented on #359
I'm not sure of the exact mapping to XML on the SDK (@dennwc can you help us on this?) but I know it makes sense related to how the UAST is organized. If you think of it as as C structs. The `Alias` struct has a `Name` pointer whose value is a `Identifier` struct. This, also have a `Name` pointer that points to a string value.

[2019-02-11 18:10] creachadair commented on #359
There may be a more general question here as to whether aliases should be "collapsed" during traversal (there are good arguments on either side).

[2019-02-11 20:08] smacker commented on #359
I would say it's more important at least to document how AST maps to XML.
It was _very_ unexpected to see aliases (afaik xml doesn't have them) which leads to issues like this one.

[2019-02-12 11:38] bzz commented on #351
JFYI, from the [discussion elsewhere](https://src-d.slack.com/archives/CFDGUB6QG/p1549969099012100?thread_ts=1549964137.005700&cid=CFDGUB6QG) I noticed that this might start to be an impediment for C# clients soon.

[2019-02-12 13:29] juanjux commented on #235
Is this still happening? `driver install --all` doesnt try to install the Rust or Ocaml drivers for me right now.

[2019-02-12 13:32] #235 closed

[2019-02-14 11:12] juanjux opened #361 "Non semantically mapped properties on semantic objects"
The problem:

Sometimes (or almost always) native objects that have a semantic mapping have more properties than the ones we have in our schema. What to do with them? This is more evident with the latest SDK update that produces and error when you silently drop any field on the semantic mapping.

Possible solutions:

1) Drop them explicitly.

Pros: trivial to implement. User could still have acces

[2019-02-14 11:28] bzz commented on #361
The same is need and will be handled in https://github.com/bblfsh/javascript-driver/pull/57

[2019-02-14 11:33] juanjux commented on #361
@bzz yes, for what I'm seeing, it'll happen on almost all drivers. For the Python driver I'm fixing some node-specific mappings but resorting to 1) + adding an issue for the ones that can be on almost every node until we've a better solution.

[2019-02-14 13:01] dennwc commented on #361
1. Agree, this cannot be done - dropping information defeats the whole purpose of Semantic mode.
2. I would argue against it. Semantic mode = everything should have a meaning, and dumping unknown things into `extra` will silently change the meaning of the node in question, so all our guarantees and the user has no way to know how exactly.
3. This is actually a way to go from my point of view. I'll

[2019-02-14 14:37] bzz commented on #326
👍

I have a mixed feelings about that - do whatever you want to me, but I would prefer any time

[code]
to
[code]
([source](https://github.com/bblfsh/sdk/blob/master/build/golang.go))

[2019-02-14 15:09] dennwc commented on #326
@bzz Can be one-line helper though. With Go it's easier to manipulate IO streams and processes, especially for driver tests.

[2019-02-17 17:22] vmarkovtsev opened #364 "Semantic function structure is inconsistent across languages"
![go](https://user-images.githubusercontent.com/2793551/52916439-ce322780-32df-11e9-8f2e-d8e664eb06c6.png)
![java](https://user-images.githubusercontent.com/2793551/52916440-cecabe00-32df-11e9-8c73-56b6f3b9f49a.png)
![js](https://user-images.githubusercontent.com/2793551/52916441-cf635480-32df-11e9-8d3e-13bf79bfbd87.png)
![php](https://user-images.githubusercontent.com/2793551/52916442-cf635480-32

[2019-02-17 17:33] dennwc commented on #364
This is a bug, probably Java and PHP miss transformations for some of the fields (recently discovered a bug in SDK). Will check it.

[2019-02-17 18:49] vmarkovtsev opened #365 "Question: XPath to get function names?"
I give up: I cannot compose the XPath to extract function names in Semantic mode.

I get all the functions by `//uast:FunctionGroup`, however, the `Name` node is inside the `Nodes` array and I don't know how to address it. `//uast:FunctionGroup/*[1]` returns the position and `//uast:FunctionGroup/*[2]` is already empty. `//uast:FunctionGroup/descendant::uast:Identifier` returns **all** identifiers

[2019-02-17 18:53] vmarkovtsev commented on #365
I finally extracted them with `//uast:Function/../../Name` but damn that was hard. Is there a better solution?

[2019-02-17 19:36] vmarkovtsev opened #366 "Provide a shortcut function to get Name in Semantic mode"
Having obtained function names in #365 I need to get the actual strings. My current take is

[code]

I have to hardcode `"Name"` and do two type assertions. Is it possible to add a wrapper?

[2019-02-17 20:14] vmarkovtsev opened #367 "Unable to extract attribute value"
Following up the query from #365 `//uast:Function/../../Name` it returns

![image](https://user-images.githubusercontent.com/2793551/52918519-62a88400-32f8-11e9-911c-2cec3f88a7cf.png)

According to [XPath examples in Wikipedia](https://en.wikipedia.org/wiki/XPath#Examples) this XPath should extract the "Name" *attribute*: `//uast:Function/../../Name/@Name` - however, it doesn't. The result is empt

[2019-02-17 23:10] creachadair commented on #365
I suspect #366 and #367 saturate this issue, but assigning for triage in case I missed something.

[2019-02-19 14:01] smacker commented on #367
same problem as in https://github.com/bblfsh/sdk/issues/359

[2019-02-19 14:11] dennwc commented on #365
@vmarkovtsev For functions, this query should work:
`//uast:FunctionGroup/Nodes/uast:Alias/Name`
or
`//uast:FunctionGroup/*/uast:Alias/Name`

[2019-02-19 15:07] vmarkovtsev commented on #365
This works, thanks. Is the first `uast:Alias` node guaranteed to be the function name?

[2019-02-19 15:08] vmarkovtsev commented on #359
This is unexpected for me as well.

[2019-02-19 15:12] dennwc commented on #365
Yes, an `Alias` will always be there. It's our way to bind a specific function declaration to a name. Anonymous functions won't have it, for example - they are just `Function` without a `FunctionGroup`.

[2019-02-19 15:16] #365 closed

[2019-02-22 10:53] bzz commented on #326
for sure, Go is better if complexity of the task is such that it requires arrays or IO stream manipulation beyond `grep`. That is why I advocate shell applicability only for complexity level of the example above.

For me, ideal design would include simple things that are easy to bootstrap done using shell scripts and then replace with Golang-built binaries with the same names, as complexity grows.

[2019-02-22 12:19] bzz opened #370 "Support running driver tests on non-linux OSes"
Right now the integration test part of the `bblfsh-sdk test` flow relies on ability to share a `/var/run/bblfshctl.sock` between Host and an a container running `bblfshd`, so that a local built driver image could be installed in `bblfhsd` from that docker instance (instead of usual dockerHub) [using the `docker-daemon` transport](https://doc.bblf.sh/using-babelfish/advanced-usage.html#adding-drive

[2019-02-22 13:15] bzz opened #371 "panic: slice bounds out of range in uast/transformer"
On parsing this not valid syntax using `javascript-driver`

`empty-comment.js`
[code]

a panic in `transformer.(*commentElems).Split` happens

[code]

## Steps to reproduce

[code]

## Expected

## Actual
`couldn't parse empty-comment.js: rpc error: code = Unavailable desc = transport is closing`

Full driver log in details
<details>

[code]

</ details>

[2019-02-22 13:29] dennwc commented on #371
Fixed in the latest SDK versions.

[2019-02-22 15:23] creachadair commented on #326
I agree. However, I think we have to be careful. The pattern I have observed in general is that the tool starts life as a simple shell script, and then grows incrementally until it becomes a tangle of fussy redirections and `sed` hacks and leans on corner cases that don't work the same way from one shell to another. And by the time that happens, the expense of replacing it with a better language i

[2019-02-22 15:27] creachadair commented on #370
I would advocate that instead of making this switchable, we should switch it on _all_ platforms to use a loopback TCP socket. As far as I can tell that is supported on all OSs we are likely to encounter, and I think there is almost no advantage to having multiple options here.

Of course, we might have to support both during a transition, but I think the goal state should be to wind up with only o

[2019-02-22 15:38] dennwc commented on #370
I think it's better to rely on what Docker client provides - it will automatically select the connection based on OS and environment.

Forcing it to loopback will most probably force everyone to reconfigure Docker on Linux.

[2019-02-22 15:39] creachadair commented on #370
Agreed. Sorry, I wrote imprecisely: I don't mean that we should hard-code loopback in the code itself, just that we should make it use TCP and set it up to use loopback in our own usage.

[2019-02-22 15:49] dennwc commented on #370
Sorry, I don't see how it's different.

If developer installs Docker on Linux, it will use Unix socket by default, and won't listen on any TCP port. Then, after installing an SDK, all commands will try to use TCP and will fail.

[2019-02-22 15:55] creachadair commented on #370
Maybe we're talking about different things? I thought this issue was about the communication between the host and the Babelfish daemon, not the docker server. I don't think it matters what Docker itself uses to communicate with its CLI, but it does matter (if I read this correctly) how the host client communicates with the daemon.

Did I miss something important?

[2019-02-22 16:07] dennwc commented on #370
Sorry for the confusion, the issue is about `bblfshd` communication with the Docker daemon on the host.

As a part of the integration test suite, we run a `bblfshd` daemon in Docker. We build a dev version of the driver locally (in Docker) and install it into the running `bblfshd` instance. For this to work, `bblfshd` needs to know how to communicate with the Docker daemon to pull the container im

[2019-02-22 16:10] creachadair commented on #370
Ah, okay, I misunderstood the layering here. In that case, you can probably ignore most of what I said above.  Thanks for the clarification!

[2019-02-22 16:46] bzz commented on #371
@dennwc would you be so kind to link in the PR that fixes this issue in SDK please?

[2019-02-22 17:33] dennwc commented on #371
Sure: https://github.com/bblfsh/sdk/pull/354

[2019-02-25 11:34] bzz commented on #371
Indeed, on the latest SDK 2.17.4
[code]

Going to move this to JS driver repo from SDK, as both failures are triggered by tests on SDK update inside JS driver and going to be taken care of under https://github.com/bblfsh/javascript-driver/pull/57

[2019-03-13 15:10] bzz commented on #370
Stranger then fiction: while integration tests hang on 10 min timeout with logs

[code]

If I manually list installed drivers in that container - it seems to have a driver installed 😕

[code]

[2019-03-13 15:13] dennwc commented on #370
Yeah, it seems like a different container. The test runs and kills it's own `bblfshd` instance.

[2019-03-13 22:31] vmarkovtsev opened #376 "uast.TokenOf returns an empty string for identifiers"
I filter nodes by `//uast:Identifier` XPath, get a few, then code

[code]

and get an empty string. Expectation: get the identifier.
I am using Go driver, semantic mode, haven't checked the others. According to my experiments on play.bblf.sh, the filtered results contain `Name` attribute and no `@token`.

[2019-03-14 14:19] vmarkovtsev commented on #376
Only individual nodes, and only in semantic mode, I cannot imagine subtree usecases... In theory, a subtree `textContent` may be equal to the whole code block under the node, but that's quite a different challenge.

[2019-03-14 14:21] vmarkovtsev commented on #376
At the same time, if the node has children, and does not carry anything textual, we should go deeper IMHO.

[2019-03-16 20:30] smacker opened #380 "driver failure: native driver is not running"
Try to parse file from this issue: https://github.com/bblfsh/python-driver/issues/182

The driver is broken after it and doesn't get restarted. For example, it is broken right now on https://play.bblf.sh/ and parsing of python files doesn't work anymore.

[2019-03-19 13:52] bzz opened #379 "drivers output on debug level does not include requests"
For debugging driver issues, it's very convenient to be able to see per-request logs in the debug output.

But right now
[code]
would only result in logs
[code]

while the same using `bblfshd` would produce detailed entry for every grpc request.

[2019-03-20 15:45] vmarkovtsev opened #382 "feature request: provide Unicode positions"
As we have recently found out, the positions of UAST nodes must be measured in bytes, not in runes. However, we require working with strings, so we had to [build the conversion ourselves](https://github.com/src-d/lookout-sdk-ml/blob/master/lookout/core/bytes_to_unicode_converter.py). This code is not straightforward.
Besides, all kinds of crazy things may happen, e.g. the [line number can change](

[2019-03-20 16:37] bzz commented on #382
Not sure how generally applicable is that across all the drivers, but I know some work has been done on it e.g on js driver, in order to make this happen https://github.com/bblfsh/javascript-driver/pull/51

[2019-03-20 16:43] dennwc commented on #382
This was a reverse operation: Babelfish expects bytes positions, but JS was writing Unicode positions.

The feature request makes total sense, but I think we can't add Unicode positions as a field - it will make UAST files even larger.

So I propose to send the whole source file as a part of UAST. Then we can recalculate Unicode positions and even tokens on demand.

[2019-03-20 17:06] vmarkovtsev commented on #382
It is also possible to add a parameter to the parse request that the client wants Unicode positions. Normally you don't need both at the same time.

[2019-03-20 17:09] dennwc commented on #382
This makes sense. We can extend the parsing protocol with one more option for this. Still, the `Position` node will need some flag to signal that it's stored as Unicode position.

[2019-03-20 17:20] dennwc opened #383 "schema: Add string interpolation UAST type"
I identified another low-hanging fruit in terms of Semantic UAST types: string interpolation.

The node is similar if most drivers I've seen, and the semantic is pretty well-understood. Essentially all nodes of this kind follow the following structure:
[code]
Each part can be a `String`, `Identifier` or any other expression that yields a value. The effect of this operation is to convert all argume

[2019-03-21 08:37] juanjux commented on #383
Python has two variants:

[code]

Joined strings are the second ones. I've just noticed that the first one doesn't have an integration test so I'll make a PR for it.

The `format` ones get a pretty complicated AST: Expression->Call where the `args` are the {}'s for the second and third case or `keywords` for the third and the string itself is inside func.QualifiedIdentifier.identifiers[0].

[2019-03-21 13:15] #325 closed

[2019-03-21 23:21] bzz opened #384 "Grpc: received message larger than max (5797446 vs. 4194304)"
Discovered as part of the https://github.com/bblfsh/bblfshd/issues/268#issuecomment-475046348

Some drivers (js, go, java, ruby) fail to parse big files with ``

This should have been fixed in https://github.com/bblfsh/sdk/pull/329 but for some reason seems to happen again.

From the logs it's not possible to identify the affected driver actual version numbers, until we have https://github.com/bbl

[2019-03-22 12:55] kuba-- commented on #332
Talking about "baby steps", how about changing the current xpath library (`github.com/antchfx/xpath`) to the `gopkg.in/xmlpath.v2`?

At least in following test it can find the last invalid xpath:
[code]

[2019-03-22 13:14] dennwc commented on #332
I checked the library briefly, it looks better but has one downside: it cannot work with virtual nodes, only with full XML tree.

Still, it may be an option to fork the library and make it work with some node interface instead of a specific type.

[2019-03-26 15:42] dennwc opened #387 "Clarify backward compatibility rules for uast packages"
We need to clarify the backward compatibility rules for the `uast` and `nodes` package in the SDK. It contains some helpers used by the Go client, thus changes in the SDK may affect a user-facing API.

Also, we need a policy for exposing/porting functionality to `libuast` used by other clients (except Go).

[2019-03-26 15:54] #376 closed

[2019-03-26 23:42] bzz commented on #380
@dennwc as soon as https://github.com/bblfsh/bblfshd/releases/tag/v2.12.0 is released, here are results using it

[code]

TL;DR: latest python driver still hits https://github.com/bblfsh/python-driver/issues/182 and this issue is still reproducible.

Server logs
[code]

[2019-03-27 14:46] dennwc commented on #380
Found a cause, working on a fix.

[2019-03-27 17:25] #380 closed

[2019-04-02 13:33] m09 opened #391 "Parent covers children invariant is not respected"
With the concept of leading comments in the UAST, the simple invariant of parent covering their children is not respected.

I think this might be non-intuitive to many users.

To reproduce:

[code]
The initial comment is a child of the expression assignment node (on current bblfsh web for example).

[2019-04-08 10:01] m09 opened #394 "Parent covers children invariant is not respected"
With the concept of leading comments in the UAST, the simple invariant of parent covering their children is not respected.

I think this might be non-intuitive to many users.

To reproduce:

[code]
The initial comment is a child of the expression assignment node (on current bblfsh web for example).

[2019-04-10 15:15] bzz commented on #384
Test on 5.8 mb file - it works now 🎉

[code]

[2019-04-10 15:15] #384 closed

[2019-04-11 22:52] bzz commented on #391
Closing as it seems to be a stuck-forever duplicate of #394

[2019-04-11 22:52] #391 closed

[2019-04-12 09:16] m09 commented on #391
Indeed it looks like a transferring bug, the original issue was in javascript-driver.

[2019-05-15 15:07] dennwc commented on #382
As per discussion [on Slack](https://src-d.slack.com/archives/C7UDG9VNY/p1553103406102100) (non-public link), this sounds like a "wontfix" for the SDK:

[2019-05-15 16:15] vmarkovtsev commented on #382
@dennwc Shall we move this request to the Python client then? As I wrote, somebody *has* to calculate the positions due to the "business logic" requirements, and I am not happy that this is currently the ML team's responsibility.

I mean, we can say that this is *wontfix* for clever and legitimate technical reasons (which happen in 0.01% of all the cases though), but then something will break on o

[2019-05-15 16:16] dennwc commented on #382
@vmarkovtsev I only meant the SDK. This should probably be in clients or `libuast`.

[2019-05-15 16:19] vmarkovtsev commented on #382
BTW I am perfectly fine if the positions calculator sometimes responds that it cannot infer Unicode positions reliably (because of crazy normalization, etc.) and returns `nil`. We could simply skip such complex files at roughly no practical loss.

[2019-05-15 16:20] dennwc commented on #382
The problem is only that we can't provide those positions in the UAST, but we can always calculate them separately. This way the user won't be able to change positions directly and we won't hit cases mentioned by @creachadair.

[2019-05-20 16:36] bzz commented on #382
@dennwc @creachadair how do you think, what would be the best place to move this issue?
I would suggest python-client first and then, if it proves to be required, implement the decided logic in libuast for other clients to benefit. WDYT?

[2019-05-20 18:16] creachadair commented on #382
That seems like a reasonable approach. As long as we're careful not to make the API too specific to Python, we should be able to shift it into the shared library later.

[2019-05-21 00:04] dennwc commented on #382
This will be done in `libuast` for Python, so it makes sense to move the issue there. Doing it now.

[2019-05-21 00:07] dennwc commented on #382
Not sure why, but I don't have permissions to move it to `libuast` specifically. Can move to other repositories, though.

@creachadair Can you please check that permissions on SDK, libuast, bblfshd, clients and drivers are the same? Thanks!

[2019-05-22 10:06] zurk commented on #252
@dennwc any updates? Maybe this issue should be moved to python-client?

[2019-05-28 17:42] m09 opened #402 "Position logic is inconsistent regarding encoding"
In Java, the position is returned based on the offset in the utf8 content, as shown here (no variation between an ascii string and a more complex utf8 string):
- ascii string, the end offset of the highlighted string is `381`:
    ![java-ascii](https://user-images.githubusercontent.com/142691/58499265-c93a0b00-814d-11e9-8df3-6e8e9e7f5dfd.png)
- more complex utf8 string, the end offset of the highl

[2019-05-28 23:19] dennwc commented on #402
@m09 Thanks for reporting it! It is indeed a bug in the Java driver. Moving to that repository.

[2019-06-04 16:54] bzz opened #404 "uast.TokenOf returns unexpected results for position nodes"
As a user, I expect to be able to extract all the tokens from UAST using helpers from #363  with something like:

[code]

and then by printing all the tokens get a "tokenized" version of particular file.

But [uast.TokenOf](https://godoc.org/github.com/bblfsh/sdk/uast#TokenOf) returns non-empty results e.g for position nodes, with is although documents, is not very intuitive.

[2019-07-08 13:08] bzz commented on #315
This change in SDK will affect both, bblfshd server and a individual drives.

[2019-07-08 13:09] dennwc commented on #315
Let's bump the priority of this one.

We have problems with parsing logs using an existing implementation (see machinery in https://github.com/bblfsh/bblfshd/issues/298).

[2019-07-08 14:49] creachadair commented on #315
I'm in favour of doing this, but I'm not convinced we should block fixing other issues for it. I realize the lack of structured logs makes some of the other issues more difficult to track, but unless it makes it impossible/infeasible, I'd really rather clear the functionality issues first and only then address infrastructural changes like this.

[2019-07-08 15:17] dennwc commented on #315
@creachadair Right, I don't think we should postpone other work because of it, but it seems small enough for new team members to resolve. So I meant to raise the priority from "we'll do it sometimes when we have nothing else to do" to "someone from the new team members should pick this one if we don't have anything urgent for them to work on".

This affects all the drivers running in production/ML

[2019-07-08 16:37] kuba-- commented on #315
note: `go-log` is basically wrapper on top of `logrus`, So if we use logrus (so far) the transition should be super simple.

[2019-07-09 12:54] dennwc opened #410 "Support persistent UAST hashes"
SDK currently defines UAST hash to be opaque: clients cannot recompute it and the hash might change between SDK versions. This presents challenges for persisting those hash values.

We may need to define a hash that is stable between versions and well-defined. It may be a good idea to add (stable) hashing support to the binary UAST serialization.

[2019-07-09 16:16] creachadair commented on #410
To avoid the issue with persistent data, I think there are two possible solutions:

1. Keep it opaque, but fix an algorithm and promise not to change it, or
2. Include a marker in the data that can be used to version it.

To implement (2), for example, we could make the first byte of the hash an algorithm tag (either by clobbering the first byte of the hash value, or just extending the array by 1

[2019-07-10 08:41] #315 closed

[2019-07-23 12:39] dennwc opened #415 "Strange requests during driver discovery tests"
I've noticed a strange error in CI when running driver discovery tests:
[code]

Although the error itself is common (rate limit), the URL looks incorrect: `https://api.github.com/repos///tags?page=1&per_page=100`. I think it should contain the org name or a tag name at least.

Need to check why it happens and is it's only a log message or a real error. Fixing it may reduce the number of requests,

[2019-07-24 04:36] creachadair commented on #370
On macOS, it turns out that Docker symlinks `/var/run/docker.sock` to the "real" location under the invoking user's `$HOME`. I manually updated the command to expand the link on the LHS of the bind mapping, and it appears to work:

[code]

I hand-patched the SDK to do this evaluation when starting up the driver, and it is able to connect. However, I didn't fully push this change down the stack, an

[2019-07-24 11:16] dennwc opened #416 "Incorrect check for invalid positions"
In SDK we have [a method](https://github.com/bblfsh/sdk/blob/master/uast/uast.go#L114) that checks if a position is valid. But the "valid" is not defined precisely. For example, the SDK expects it to mean "position is set at least partially", while user-facing code like iterators assumes it means "values used in positions are in a valid range".

We must first define a separate function that checks

[2019-07-24 13:34] lwsanty commented on #326
Let me propose one more solution:
1) SDK repo should have some list with supported drivers
2) SDK repo should have a git hook on release event
3) on hook event Jenkins or Travis build to be started:
    _for each driver in the list:_
  a) pull repo's master branch
  b) create a new branch `update-sdk-vx_x_x`
  c) `go get -u github.com/bblfsh/sdk/v3 && go run ./update.go && go mod tidy`
  d) commit

[2019-07-24 17:32] dennwc commented on #326
@lwsanty Sounds good to me!

But it will be also nice to be able to run this process manually, adding a custom script to execute for each driver. It may be the Go version bump, for example, as we encountered today.

Checking PRs manually sounds OK for now. Even having a process that submits those 10+ PRs automatically would be a huge improvement.

[2019-07-24 18:07] creachadair commented on #416
Maybe we can distinguish between "initialized" and "valid", where "initialized" captures the idea that the driver set position information for the object, and "valid" captures the idea that the position is in-bounds for the enclosing file?

I'm not deeply attached to those particular words, but I do think it makes sense to give these names of some kind in the documentation.

[2019-07-25 09:32] lwsanty commented on #326
@dennwc  you are right,
I think that we can neglect the webhook for the first time because
1) Jenkins is not accessible from github
2) I think it's ok to trigger manually the process "update all repos", 'cause new SDK versions are not been released a couple of times per day...

So eventually we can:
1) create utility inside sdk repo that can perform such operations as update repos and create pr's

[2019-07-25 11:45] dennwc commented on #326
By the way, maybe we can actually use a webhook for this. But instead of exposing it to the Web, we can expose it to the cluster only, and then make a tool that triggers it (assuming local `sshuttle` connection).

Since SDK is not released that often, it will be okay to trigger the update manually using this mechanism.

[2019-07-25 12:04] lwsanty commented on #326
@dennwc that's exactly what I meant in `2. we can run this utility either locally or by triggering Jenkins via URL` :)

[2019-07-25 19:48] creachadair commented on #370
As you might expect, it turns out to be a little more complicated than that: The code that talks to the daemon is buried inside https://github.com/containers/image/blob/master/docker/daemon/client.go and to control it we would have to plumb through a [`SystemContext`](https://godoc.org/github.com/containers/image/types#SystemContext) carrying the bound `DockerDaemonHost` we want to use. Right now

[2019-07-25 19:51] creachadair commented on #370
Interestingly, [the `docker` package](https://godoc.org/github.com/docker/docker/client#pkg-constants) suggests maybe we could override this in the environment.

[2019-07-25 20:05] creachadair commented on #370
…except, we don't use that package, we use https://godoc.org/github.com/ory/dockertest/docker instead. And the config there doesn't expose the host in the same way (I think).

[2019-07-26 09:54] lwsanty commented on #326
Here's the link to discussion of my proposal
https://github.com/src-d/minutes/pull/671/files

I consider these minutes as a green light to start working on this task.

[2019-07-26 16:31] rick2600 opened #424 ".filter() - Invalid memory address or nil pointer dereference"
I found by accident an invalid memory access.

**poc.py**
[code]

**poc.php**
Any php code apparently

**stacktrace**
[code]

[2019-07-26 17:08] creachadair commented on #326
Yes, I agree.

[2019-07-30 12:24] lwsanty commented on #326
this issue also requires Jenkinsfile https://github.com/src-d/infrastructure/issues/992

[2019-07-30 15:43] dennwc opened #419 "Move protocol to a separate package"
With the latest SDK release, it's version and the version of the supported protocol is now out of sync: the latest SDK is v3, while the latest protocol is v2.

We should split the protocol package into a separate repository. It
will also help to address https://github.com/bblfsh/bblfshd/issues/281, since we will have a Go protocol package version set explicitly in the `go.mod` file.

Also, may mak

[2019-08-02 10:47] #326 closed

[2019-08-06 15:33] ncordon opened #421 "ChildrenOrder unexpected behaviour"
Using the [python-client](https://github.com/bblfsh/python-client)

[code]
We get an array `[son1, son2]` rather than `son1` then `son2` next time we call the iterator

[2019-08-07 15:14] dennwc commented on #264
Tests are flaky again because we added another API call.

Assigning to @lwsanty to check if Travis provides us a Github token.

[2019-08-07 18:13] creachadair commented on #421
It looks like #422 didn't auto-close this (maybe that doesn't work in the title?)

[2019-08-08 01:50] ncordon commented on #421
I forgot to reference the number of the issue in the title. Normally I put `Closes #zzz` but this time I forgot :see_no_evil:

[2019-08-08 01:50] #421 closed

[2019-08-14 00:04] #424 closed

[2019-08-15 13:47] r0mainK opened #425 "Feature request: UAST diffing"
Hey guys !

So for starters just wanted to point out I am not sure if this is the proper repo to ask this, or if it should be in the SDK one. I also want to say I am not taking this lightly, I know its not a priority, and I do not expect resources to be allocated to it in the near future. That being said, before I go to the question, here is some context:

Currently, we do not do too much analysis

[2019-08-15 14:05] dennwc commented on #425
In terms of drivers, yes, we will parse files separately anyway. The parsers that we use don't have any way of incremental processing, so for us each parsing request will be separate. Diff will be executed on a resulting UASTs one way or another.

But from an API standpoint, it may be useful to have a parse requests that accepts multiple versions of the file, parses them and returns a merged UAST

[2019-08-15 15:54] creachadair commented on #425
This is definitely a good idea, and one that has come up before, see for example https://github.com/src-d/feature-idea/issues/2, https://github.com/src-d/devrel/issues/115. Tree diff is a tricky algorithm, but manageable. The more interesting questions, in my view, are how it fits into the API and how the results are surfaced to the client. So as @dennwc says, this is a conversation we need to hav

[2019-08-15 17:13] r0mainK commented on #425
Okay I see, thanks for the swift answer :)  I was not aware of the different issues already opened on the subject, or the fact there already was an implementation already. What I don't understand is when you say:

Why is that the case ? Is that due to the fact that from a theoretical point of view it is impossible, or simply due to the way Babelfish is constructed ? I might be understanding ASTs w

[2019-08-15 17:24] dennwc commented on #425
@r0mainK If I understand the idea correctly, this won't work for the generic case.

Imagine the language construct that spans multiple lines. So adding/removing/changing lines nearby may break the syntax of this language construct. So instead of getting a nice merged UAST with both version we will get a syntax error from the driver.

Systems like TreeSitter will handle it much better because they

[2019-08-16 06:56] r0mainK commented on #425
@dennwc yes I kind of had that in mind, this example was more to convey the idea them describe exactly how it would work. To avoid syntax errors, I was thinking of a simplistic parsing per language, which would use knowledge of the language to compute the level of abstraction at which each line is situated:

[code]

Then use that to merge versions - something which not require extensive parsing, a

[2019-08-16 10:47] bzz commented on #425
@creachadair I did not dig deep into this, but this seems to be the de-facto standard of API for treeDiff that people in academia use nowadays https://github.com/GumTreeDiff/gumtree/wiki/GumTree-API#getting-the-mappings-between-two-trees and https://www.monperrus.net/martin/tree-differencing has some examples/algorithms listed

[2019-08-19 10:39] ncordon opened #426 "Fix xpath library wrong query failures in case we continue supporting it"
In #423 we introduced a temporary fix to deal with incorrect queries in XPath (see #424 for context) and fail catching the `panic` and avoid crashing of clients.

In case we continue supporting XPath we should shift to fixing those issues in the xpath library itself (maybe forking it or doing PRs upstream) and fail with a Go error code instead of a panic.

[2019-08-29 11:39] lwsanty opened #429 "Update drivers template with new performance tests"
After these issues are done we need to update drivers template and all supported drivers

https://github.com/bblfsh/performance/issues/15
https://github.com/bblfsh/performance/issues/21

[2019-08-30 17:58] ncordon opened #431 "Roles are sorted in encoding step but not in decoding one"
A node with roles like:

[code]

would be encoded as:

[code]

due to this [line](https://github.com/bblfsh/sdk/blob/c7df66261dcabae8ddd71c6a68a4391212459e42/uast/uastyaml/uastyaml.go#L108) which is code called by `libuast`. We should probably move the sorting to after the transformations step (as suggested by @creachadair and @dennwc) to avoid having decoding and encodings (when we parse a tree a

[2019-09-12 14:38] smacker opened #433 "Comments including utf8 characters are not parsed correctly"
Go client:
[code]

works without any errors.

Python client:
[code]

results in:
[code]

[2019-10-11 11:28] dennwc opened #439 "Automation: driver releases"
Thanks to @lwsanty we now have an automation for updating drivers. However, releasing all drivers must still be done manually.

It will be great to have a separate tool that automates this process as well.

I think it may work the following way:

1) A developer runs the CLI command.
2) It pulls info about all latest releases of drivers and all commits since those releases.
3) CLI dumps this info t

[2019-10-16 15:13] #439 closed

[2019-10-17 10:53] #433 closed

[2019-11-18 16:59] sxiii commented on #355
@dennwc I wonder if current implementation of bblfsh are capable of doing something like:
[code]
So in result that would allow do a Go to C code transpiling.

As I understood well if all drivers will allow to run pipelines in reverse than it would be possible?

Thanks